body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0;
  min-height: 100%;
}

.header a {
  text-decoration: none;
  color: #313237;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: #fff;
}

.container { 
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
}

.header_wrapper {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.75em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 0;
}

.header_logo {
  height: 100%;
  overflow: hidden;
  padding: 1.5em 0;
  margin-right: 1.25rem;
  outline: 0;
  color: #313237;
}

.header_links_wrapper {
  display: flex;
  flex-direction: row;
}

.header_link {
  padding: 1.5em 0;
  margin: 0 .8em;
}

@media only screen and (min-width: 62em) {
  .background {
    margin: 0 auto;
    height: 24em;
  }
}

.background {
  min-height: 18rem; 
  position:relative;
  background-color: #2E8B57;
}

@media only screen and (min-width: 48em) {
  .title_wrapper {
    max-width: 40em;
  }
}

.title_wrapper {
  position: absolute;
  margin: 1.5rem auto 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1;
  color: rgba(255, 255, 255, 0.9);
}

.title {
  font-size: 3rem;
}

@media only screen and (min-width: 76em) {
 .header_wrapper {
   margin: 0em 20em;
 }
 .content_wrapper {
   margin: 3.5em 20em;
 } 
}

@media only screen and (min-width: 62em) {
  .background {
    margin: 0 auto;
    height: 18em;
  }
}

.small_background {
  min-height: 16rem;
  position: relative;
  background-color: #2E8B57;
}

.small_title {
 margin: 2rem auto 0;
}

footer {
  padding: 3rem 0;
  border-top: 1px solid #f0f0f0;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(33, 33, 33, 0.6);
  width: 100%;
}

